In [2]:
import pandas as pd
import numpy as np

In [3]:
oj_data = pd.read_csv("D:/fgz/专利/OJFeatures.csv", engine="python")

In [4]:
oj_data.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,1.0,0.631714,163,1
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,1.0,0.631714,163,1
2,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,0.0,0.813397,188,0
3,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,1.0,0.703248,169,1
4,6915,6597,28,24,0.784314,0.92,0,3,1,0.888374,1,1.0,0.586463,128,1

In [5]:
columns = ['sid', 'sim_id', 'uid', 'sim_uid', 'CPMS', 'PR']
oj_for_kmeans=oj_data.drop(columns, axis=1) # "inplace=True" indicate that delete columns in-place

In [6]:
oj_for_kmeans.head()

,similarity,similarityThreshold,CPMSPC,CPTC,ASSR,DL,PCR,RRB,LABEL
0,0.640000,0.95,2,1,0.882609,1,0.631714,163,1
1,0.511628,0.85,2,1,0.627778,1,0.631714,163,1
2,0.828571,0.90,4,1,0.775883,1,0.813397,188,0
3,0.752941,0.92,3,1,0.932974,1,0.703248,169,1
4,0.784314,0.92,3,1,0.888374,1,0.586463,128,1

In [7]:
oj_for_kmeans.shape

(22842, 9)

In [8]:
from sklearn.cluster import KMeans

In [9]:
kmeans = KMeans(n_clusters=2, random_state=0).fit(oj_for_kmeans)

In [10]:
arr=kmeans.labels_
arr

array([0, 0, 1, ..., 0, 0, 0])

In [11]:
cluster_centers=kmeans.cluster_centers_
cluster_centers

array([[6.31093346e-01, 9.08727241e-01, 2.59164916e+00, 9.45290616e-01,
        8.33536063e-01, 1.31959034e+00, 5.79782893e-01, 8.72750350e+01,
        9.93172269e-01],
       [6.67091506e-01, 9.23628481e-01, 2.71001927e+00, 9.37642319e-01,
        8.46094341e-01, 1.21045717e+00, 5.29782034e-01, 2.59599755e+02,
        2.89017341e-03]])

In [12]:
def count(list_):
  item_count = 0
  for item in list_[:]:
        if item == 0:
            item_count = item_count + 1
  return item_count

In [13]:
print("The size of 0 element in arr: ", count(arr))
print("The size of 1 element in arr: ", len(arr)-count(arr))

The size of 0 element in arr:  11424
The size of 1 element in arr:  11418

In [14]:
import MySQLdb

db=MySQLdb.connect(host='47.95.22.126',port=3306,user='root',passwd='dhuoj@124',db='gdoj',charset='utf8')
c=db.cursor()

In [15]:
# 构造一个专门从数据库当中查询数据的函数
def get_data(sql):
    c.execute(sql)
    rows_list = []
    for row in c.fetchall():
        rows_list.append(row)
    data = pd.DataFrame(data=rows_list)
    return data;

In [16]:
# 在上面的基础上，筛选出具有标签值的记录
data_label = get_data("""select s.id, sw.submited from solution s INNER JOIN problems p on s.similarity>0 and s.problemId=p.id INNER JOIN 
similaritywarning sw on sw.submited>=0 and s.id=sw.solutionId order by id asc""")

data_label.columns=['sid', 'LABEL']

In [17]:
# 不抄袭的肯定比抄袭的要多很多，总记录数为3922条
print(data_label.shape)
print(len(data_label[data_label['LABEL']==1]))  # label=1代表抄袭
print(len(data_label[data_label['LABEL']==0]))  # label=0代表不抄袭
data_label.head()

(3920, 2)
1430
2490

    sid  LABEL
0  5605      1
1  6404      0
2  7597      0
3  7597      0
4  8183      0

In [18]:
def convert_df_to_dict(df):
    dict_temp={}
    for index, row in df.iterrows():
        dict_temp[row['sid']]=row['LABEL']
    return dict_temp

In [19]:
data_label_dict=convert_df_to_dict(data_label)

In [20]:
oj_data['LABEL']=-1

In [21]:
oj_data.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,1.0,0.631714,163,-1
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,1.0,0.631714,163,-1
2,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,0.0,0.813397,188,-1
3,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,1.0,0.703248,169,-1
4,6915,6597,28,24,0.784314,0.92,0,3,1,0.888374,1,1.0,0.586463,128,-1

In [22]:
def change_label(row):
    if row['sid'] in data_label_dict:
        return data_label_dict[row['sid']]
    else:
        return -1

In [23]:
oj_data['LABEL']=oj_data.apply(func=change_label, axis=1)

In [24]:
oj_data['LABEL'].value_counts()

-1    22609
 0      127
 1      106
Name: LABEL, dtype: int64

In [24]:
arr

array([0, 0, 0, ..., 0, 1, 1])

In [25]:
print(len(oj_data[oj_data['LABEL']!=-1]))
oj_data_true=oj_data[oj_data['LABEL']!=-1]

233

In [26]:
columns = ['sid', 'sim_id', 'uid', 'sim_uid', 'CPMS', 'PR']
oj_data_true.drop(columns, inplace=True, axis=1) # "inplace=True" indicate that delete columns in-place

D:\Anaconda\Anaconda3\lib\site-packages\pandas\core\frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [67]:
oj_data_true.reset_index(drop=True, inplace=True) # 将oj_data_true的index重新按照从0开始计数

In [69]:
print(oj_data_true.shape)
oj_data_true.head()

(233, 10)

,similarity,similarityThreshold,CPMSPC,CPTC,ASSR,DL,PCR,RRB,LABEL,LABEL_FOR_KMEANS
0,0.857143,0.95,4,1,0.967105,1,0.565435,145,1,0
1,0.937500,0.98,4,1,0.908564,1,0.780564,22,0,0
2,0.937500,0.98,4,1,0.908564,1,0.780564,22,0,0
3,0.852459,0.99,3,1,0.920738,1,0.618727,36,0,0
4,0.808511,0.99,3,1,0.861854,1,0.691346,77,1,0

In [58]:
# 计算两个向量的欧式距离（可根据场景选择其他距离公式）
def distEclud(vecA, vecB):
    return np.sqrt(np.sum(np.square(vecA - vecB))) # la.norm(vecA-vecB)
#     return np.sum(np.abs(vecA - vecB))

In [59]:
distEclud(oj_for_kmeans.iloc[0, :], cluster_centers[0])

75.72801588347426

In [60]:
distEclud(oj_for_kmeans.iloc[0, :], cluster_centers[1])

96.60268155198106

In [31]:
import sys
max_value=sys.maxsize

In [32]:
def cal_center_label(df, vecB):
    index=-1
    label=-1
    min_=max_value
    for i, row in df.iterrows():
        distance=distEclud(row.iloc[0:8], vecB)
        if distance<min_:
            min_=distance
            index=i
            label=row['LABEL']
    return index, label

def cal_label_for_kmeans(row):
    if distEclud(row[0:8], cluster_centers[0])<distEclud(row[0:8], cluster_centers[1]):
        label=0
    else:
        label=1
    return label

In [ ]:
oj_data_true['LABEL_FOR_KMEANS']=-1

In [40]:
oj_data_true['LABEL_FOR_KMEANS']=oj_data_true.apply(func=cal_label_for_kmeans, axis=1)

D:\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
cal_center_label(oj_data_true, cluster_centers[0])

(240, 1.0)

In [38]:
cal_center_label(oj_data_true, cluster_centers[1])

(16508, 1.0)

In [46]:
oj_data_true['LABEL_FOR_KMEANS'].value_counts()

0    150
1     83
Name: LABEL_FOR_KMEANS, dtype: int64

In [47]:
oj_data_true['LABEL'].value_counts()

0    128
1    105
Name: LABEL, dtype: int64

In [43]:
oj_data_true[oj_data_true['LABEL_FOR_KMEANS']==0]['LABEL'].mode()

0    0
dtype: int64

In [44]:
oj_data_true[oj_data_true['LABEL_FOR_KMEANS']==1]['LABEL'].mode()

0    0
dtype: int64

In [81]:
from sklearn.neighbors import NearestNeighbors

neigh = NearestNeighbors(n_neighbors=7)
neigh.fit(oj_data_true.iloc[:, 0:8])

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
         metric_params=None, n_jobs=1, n_neighbors=7, p=2, radius=1.0)

In [82]:
print(neigh.kneighbors(cluster_centers))

(array([[1.51748096, 2.26250679, 2.35511077, 2.47023467, 3.7670524 ,
        4.00596377, 6.4705134 ],
       [2.08928422, 5.57536635, 5.57826272, 6.54044181, 7.41254111,
        7.52046433, 7.52174123]]), array([[ 20,   5, 165,  76, 185, 193,  89],
       [227, 190, 213, 229,  53,  33,  57]], dtype=int64))

In [86]:
print(distEclud(oj_data_true.iloc[20, 0:8], cluster_centers[0]))
print(distEclud(oj_data_true.iloc[227, 0:8], cluster_centers[1]))

1.5174809618233962
2.0892842241938356

In [83]:
print(oj_data_true.loc[[20,   5, 165,  76, 185, 193,  89]]) # LABEL_FOR_KMEANS=0 对应 LABEL=1

     similarity  similarityThreshold  CPMSPC  CPTC      ASSR  DL       PCR  \
20     0.954545                 0.99       4     1  0.998258   1  0.592492
5      0.818182                 0.90       4     1  0.816584   1  0.719368
165    0.920635                 0.95       4     1  0.962448   2  0.719368
76     0.938776                 0.99       4     0  0.996732   1  0.719368
185    0.833333                 0.95       3     1  0.812387   1  0.560123
193    0.897436                 0.95       4     1  0.937315   1  0.560123
89     0.808511                 0.86       4     1  0.913800   2  0.622010

     RRB  LABEL  LABEL_FOR_KMEANS
20    87      1                 0
5     89      0                 0
165   89      0                 0
76    89      1                 0
185   91      1                 0
193   91      1                 0
89    81      1                 0

In [85]:
print(oj_data_true.loc[[227, 190, 213, 229,  53,  33,  57]]) # LABEL_FOR_KMEANS=1 对应 LABEL=0

     similarity  similarityThreshold  CPMSPC  CPTC      ASSR  DL       PCR  \
227    0.900000                 0.90       4     1  0.922446   1  0.711518
190    0.900000                 0.90       4     1  0.900000   1  0.919808
213    0.928571                 0.97       4     1  0.985714   1  0.919808
229    0.950000                 0.95       4     1  0.969534   1  0.452070
53     0.842105                 0.96       3     1  0.948880   1  0.615510
33     0.921053                 0.95       4     1  0.940868   1  0.615510
57     0.928571                 0.96       4     1  1.000000   1  0.615510

     RRB  LABEL  LABEL_FOR_KMEANS
227  258      1                 1
190  265      1                 1
213  265      0                 1
229  266      0                 1
53   267      0                 1
33   267      0                 1
57   267      0                 1

In [106]:
oj_data['LABEL'].value_counts()

-1    22609
 0      128
 1      105
Name: LABEL, dtype: int64

In [114]:
print(oj_data.shape)
oj_data.head()

(22842, 15)

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,NaN,0.631714,163,-1
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,NaN,0.631714,163,-1
2,5605,5345,31,53,0.857143,0.95,0,4,1,0.967105,1,NaN,0.565435,145,1
3,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,NaN,0.813397,188,-1
4,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,NaN,0.703248,169,-1

In [112]:
len(arr)

22842

In [115]:
oj_data_copy=oj_data.copy()

In [117]:
oj_data_copy.shape

(22842, 15)

In [118]:
oj_data_copy['LABEL_FOR_KMEANS']=-1

In [130]:
oj_data_copy.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL,LABEL_FOR_KMEANS
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,NaN,0.631714,163,-1,0
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,NaN,0.631714,163,-1,0
2,5605,5345,31,53,0.857143,0.95,0,4,1,0.967105,1,NaN,0.565435,145,1,0
3,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,NaN,0.813397,188,-1,1
4,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,NaN,0.703248,169,-1,0

In [128]:
def change_label_for_copy(df):
    for index, row in df.iterrows():
        df.iloc[index, 15]=arr[index]

In [129]:
change_label_for_copy(oj_data_copy)

In [131]:
oj_data_copy['LABEL_FOR_KMEANS'].value_counts()

0    11424
1    11418
Name: LABEL_FOR_KMEANS, dtype: int64

In [135]:
oj_data_train=oj_data_copy[oj_data_copy['LABEL']==-1]
oj_data_train.reset_index(drop=True, inplace=True)

oj_data_test=oj_data_copy[oj_data_copy['LABEL']!=-1]
oj_data_test.reset_index(drop=True, inplace=True)

In [141]:
oj_data_train['LABEL'].value_counts()

0    11335
1    11274
Name: LABEL, dtype: int64

In [143]:
oj_data_test['LABEL'].value_counts()

0    128
1    105
Name: LABEL, dtype: int64

In [138]:
def change_label_for_train(row):
    if row['LABEL_FOR_KMEANS']==0:
        return 1
    else:
        return 0

In [139]:
oj_data_train['LABEL']=oj_data_train.apply(func=change_label_for_train, axis=1)

D:\Anaconda\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [140]:
oj_data_train.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL,LABEL_FOR_KMEANS
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,NaN,0.631714,163,1,0
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,NaN,0.631714,163,1,0
2,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,NaN,0.813397,188,0,1
3,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,NaN,0.703248,169,1,0
4,6915,6597,28,24,0.784314,0.92,0,3,1,0.888374,1,NaN,0.586463,128,1,0

In [142]:
oj_data_test.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL,LABEL_FOR_KMEANS
0,5605,5345,31,53,0.857143,0.95,0,4,1,0.967105,1,NaN,0.565435,145,1,0
1,9135,8117,171,173,0.937500,0.98,0,4,1,0.908564,1,NaN,0.780564,22,0,0
2,9149,8117,171,173,0.937500,0.98,0,4,1,0.908564,1,NaN,0.780564,22,0,0
3,9163,8854,172,152,0.852459,0.99,0,3,1,0.920738,1,NaN,0.618727,36,0,0
4,9252,8662,178,184,0.808511,0.99,0,3,1,0.861854,1,NaN,0.691346,77,1,0

In [154]:
test_data_temp=oj_data_train.sample(n=950,random_state=123)
train_data_temp=oj_data_train[~oj_data_train.index.isin(test_data_temp.index)]

In [157]:
print(test_data_temp.shape)
train_data_temp.shape

(950, 16)

(21659, 16)

In [158]:
test_data_temp1=oj_data_test.sample(n=50,random_state=12)
train_data_temp1=oj_data_test[~oj_data_test.index.isin(test_data_temp1.index)]

In [159]:
print(test_data_temp1.shape)
train_data_temp1.shape

(50, 16)

(183, 16)

In [160]:
oj_data_test = pd.concat( [test_data_temp, test_data_temp1], axis=0 )
oj_data_test.shape

(1000, 16)

In [161]:
oj_data_train = pd.concat( [train_data_temp, train_data_temp1], axis=0 )
oj_data_train.shape

(21842, 16)

In [215]:
oj_data_test.tail(10)

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL,LABEL_FOR_KMEANS
63,14835,14798,149,160,0.913580,0.94,0,4,1,0.959716,1,NaN,0.423898,142,0,0
167,36672,36537,164,124,0.921409,0.95,0,4,1,0.977932,1,NaN,0.565517,201,0,1
127,22520,21636,137,121,0.875000,0.98,0,3,1,0.945122,1,NaN,0.355918,17,1,0
198,51984,47405,1037,1012,0.903226,0.97,0,4,1,0.955172,1,NaN,0.422626,237,1,1
16,9613,9451,96,97,0.758621,0.96,0,3,1,0.927673,1,NaN,0.533333,327,0,1
210,52788,48471,1031,1015,0.903226,0.97,0,4,1,0.986339,1,NaN,0.479059,283,0,1
36,10926,10157,137,121,0.800000,0.95,0,3,1,0.843944,2,NaN,0.355918,17,1,0
1,9135,8117,171,173,0.937500,0.98,0,4,1,0.908564,1,NaN,0.780564,22,0,0
106,21548,20837,129,128,0.782609,0.98,0,3,1,0.957317,1,NaN,0.674339,5,1,0
41,11127,5844,22,61,0.805556,0.95,0,3,1,0.845276,1,NaN,0.574020,97,0,0

In [164]:
oj_data_temp=pd.concat( [oj_data_train, oj_data_test], axis=0 )

In [169]:
oj_data_temp=oj_data_temp.drop(['LABEL_FOR_KMEANS'], axis=1)
oj_data_temp.shape

(22842, 15)

In [170]:
oj_data_temp.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,NaN,0.631714,163,1
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,NaN,0.631714,163,1
2,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,NaN,0.813397,188,0
3,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,NaN,0.703248,169,1
4,6915,6597,28,24,0.784314,0.92,0,3,1,0.888374,1,NaN,0.586463,128,1

In [173]:
oj_data_temp['LABEL'].value_counts()

0    11463
1    11379
Name: LABEL, dtype: int64

In [177]:
# 查询用户排名数据
data_user_rank = get_data("""select userid, SUM(score) as allscore from solution where similarity>0 GROUP BY userid""")
data_user_rank.columns = ['uid', 'total_score']

In [178]:
print(data_user_rank.shape)
data_user_rank.head()

(481, 2)

   uid  total_score
0    1       208.65
1   17       200.24
2   18         2.94
3   19        34.50
4   20       231.78

In [185]:
data_user_rank.drop(['total_score'], axis=1, inplace=True)
data_user_rank['PR']=-1

In [205]:
data_user_rank.head()

   uid   PR
0    1  0.0
1   17  0.0
2   18  0.0
3   19  0.0
4   20  0.0

In [210]:
def cal_pr_for_user(row):
#     count=len(oj_data_temp[np.logical_and(oj_data_temp['uid']==uid_value, oj_data_temp['LABEL']==1)])
    temp=oj_data_temp[oj_data_temp['uid']==row['uid']]
    total=len(temp)
    count=len(temp[temp['LABEL']==1])
    return count/total

def change_df_to_dict(df):
    dict_={}
    for index, row in df.iterrows():
        dict_[row['uid']]=row['PR']
    return dict_

def cal_pr_for_oj_data_temp(row):
    return dict_[row['uid']]

In [202]:
data_user_rank['PR']=data_user_rank.apply(func=cal_pr_for_user, axis=1)

In [207]:
dict_=change_df_to_dict(data_user_rank)

In [208]:
dict_

{1.0: 0.0,
 17.0: 0.0,
 18.0: 0.0,
 19.0: 0.0,
 20.0: 0.0,
 21.0: 0.0,
 22.0: 0.9038461538461539,
 23.0: 1.0,
 24.0: 0.0,
 25.0: 0.05,
 26.0: 0.0,
 27.0: 1.0,
 28.0: 1.0,
 29.0: 0.0,
 30.0: 0.0,
 31.0: 1.0,
 32.0: 1.0,
 33.0: 0.0,
 34.0: 0.0,
 35.0: 1.0,
 36.0: 0.9746835443037974,
 37.0: 1.0,
 38.0: 1.0,
 39.0: 0.0,
 40.0: 1.0,
 41.0: 0.961038961038961,
 42.0: 1.0,
 43.0: 1.0,
 44.0: 0.0,
 45.0: 1.0,
 46.0: 0.0,
 47.0: 1.0,
 48.0: 0.9852941176470589,
 49.0: 0.0,
 50.0: 1.0,
 51.0: 1.0,
 52.0: 0.9897959183673469,
 53.0: 1.0,
 55.0: 1.0,
 56.0: 0.0,
 57.0: 1.0,
 58.0: 1.0,
 59.0: 1.0,
 60.0: 0.0,
 61.0: 1.0,
 62.0: 0.9468085106382979,
 63.0: 0.9859154929577465,
 64.0: 1.0,
 65.0: 1.0,
 66.0: 1.0,
 67.0: 1.0,
 68.0: 0.0,
 69.0: 1.0,
 70.0: 0.0,
 71.0: 1.0,
 72.0: 1.0,
 73.0: 1.0,
 74.0: 1.0,
 75.0: 0.0,
 76.0: 1.0,
 77.0: 1.0,
 78.0: 1.0,
 79.0: 0.0,
 80.0: 0.0,
 81.0: 1.0,
 82.0: 0.9454545454545454,
 84.0: 0.0,
 85.0: 0.0,
 86.0: 0.0,
 87.0: 1.0,
 88.0: 1.0,
 89.0: 1.0,
 90.0: 1.0,
 91.0: 0.0,
 92.0: 1.0,
 93.0: 0.803921568627451,
 94.0: 0.0,
 95.0: 0.3333333333333333,
 96.0: 0.0,
 97.0: 0.8518518518518519,
 98.0: 0.9772727272727273,
 99.0: 0.96,
 100.0: 0.034482758620689655,
 101.0: 1.0,
 102.0: 1.0,
 103.0: 1.0,
 104.0: 1.0,
 105.0: 1.0,
 106.0: 0.9672131147540983,
 107.0: 0.0,
 108.0: 0.967741935483871,
 109.0: 1.0,
 110.0: 0.0,
 111.0: 1.0,
 112.0: 1.0,
 115.0: 1.0,
 116.0: 1.0,
 117.0: 1.0,
 118.0: 0.9859154929577465,
 119.0: 1.0,
 120.0: 0.967741935483871,
 121.0: 1.0,
 122.0: 1.0,
 123.0: 0.9642857142857143,
 124.0: 0.0,
 125.0: 1.0,
 126.0: 1.0,
 127.0: 1.0,
 128.0: 0.9354838709677419,
 129.0: 1.0,
 130.0: 1.0,
 131.0: 1.0,
 132.0: 0.9819819819819819,
 133.0: 0.2857142857142857,
 134.0: 1.0,
 135.0: 1.0,
 136.0: 0.0,
 137.0: 1.0,
 139.0: 1.0,
 140.0: 1.0,
 141.0: 0.0,
 143.0: 0.0,
 144.0: 1.0,
 145.0: 0.9444444444444444,
 146.0: 0.9814814814814815,
 147.0: 0.9838709677419355,
 148.0: 0.0,
 149.0: 0.9459459459459459,
 150.0: 0.9857142857142858,
 151.0: 0.024390243902439025,
 152.0: 1.0,
 153.0: 1.0,
 154.0: 1.0,
 155.0: 1.0,
 156.0: 1.0,
 157.0: 1.0,
 158.0: 0.0,
 159.0: 1.0,
 160.0: 0.0,
 161.0: 1.0,
 162.0: 0.0,
 163.0: 1.0,
 164.0: 0.06896551724137931,
 165.0: 0.9552238805970149,
 166.0: 0.0,
 167.0: 0.0,
 168.0: 0.0,
 169.0: 0.9545454545454546,
 170.0: 0.9864864864864865,
 171.0: 0.8850574712643678,
 172.0: 0.9887640449438202,
 173.0: 1.0,
 174.0: 1.0,
 175.0: 1.0,
 176.0: 0.0,
 177.0: 1.0,
 178.0: 1.0,
 179.0: 1.0,
 180.0: 1.0,
 181.0: 1.0,
 182.0: 0.07142857142857142,
 183.0: 0.0,
 184.0: 1.0,
 185.0: 0.9090909090909091,
 186.0: 1.0,
 187.0: 1.0,
 188.0: 1.0,
 189.0: 1.0,
 190.0: 1.0,
 191.0: 1.0,
 192.0: 0.0,
 193.0: 1.0,
 195.0: 0.0,
 196.0: 0.0,
 197.0: 0.0,
 198.0: 0.013157894736842105,
 199.0: 0.0,
 200.0: 0.0,
 201.0: 0.0,
 202.0: 0.0,
 203.0: 1.0,
 204.0: 1.0,
 205.0: 0.0,
 206.0: 0.0,
 207.0: 0.03571428571428571,
 208.0: 0.0,
 209.0: 0.0,
 210.0: 0.0,
 211.0: 0.0,
 212.0: 0.0,
 213.0: 0.0,
 214.0: 0.0,
 215.0: 0.0,
 216.0: 0.0,
 217.0: 0.0,
 218.0: 0.0,
 219.0: 0.0,
 220.0: 1.0,
 221.0: 0.0,
 222.0: 0.0,
 223.0: 0.0,
 227.0: 0.0,
 230.0: 0.0,
 231.0: 0.0,
 236.0: 0.0,
 237.0: 0.0,
 238.0: 0.0,
 241.0: 0.0,
 244.0: 0.0,
 245.0: 0.0,
 246.0: 0.0,
 248.0: 0.0,
 250.0: 0.0,
 251.0: 0.0,
 252.0: 0.0,
 253.0: 0.0,
 254.0: 0.0,
 255.0: 0.0,
 256.0: 0.0,
 257.0: 0.0,
 258.0: 0.0,
 259.0: 0.0,
 260.0: 0.0,
 261.0: 0.0,
 262.0: 0.0,
 263.0: 0.0,
 264.0: 0.0,
 265.0: 0.0,
 266.0: 0.0,
 267.0: 0.0,
 268.0: 0.0,
 269.0: 0.0,
 270.0: 0.0,
 271.0: 0.0,
 272.0: 0.0,
 273.0: 0.0,
 274.0: 0.0,
 276.0: 0.0,
 277.0: 0.0,
 278.0: 0.0,
 279.0: 0.0,
 280.0: 0.0,
 281.0: 0.0,
 282.0: 0.0,
 283.0: 0.0,
 284.0: 0.0,
 285.0: 0.0,
 286.0: 0.0,
 287.0: 0.0,
 290.0: 0.0,
 291.0: 0.0,
 292.0: 0.0,
 293.0: 0.0,
 294.0: 0.0,
 297.0: 0.0,
 298.0: 0.0,
 299.0: 0.0,
 300.0: 0.0,
 301.0: 0.0,
 302.0: 0.0,
 303.0: 0.0,
 304.0: 0.0,
 305.0: 0.0,
 307.0: 0.0,
 309.0: 0.0,
 312.0: 0.0,
 313.0: 0.0,
 316.0: 0.0,
 317.0: 0.0,
 318.0: 0.0,
 319.0: 0.0,
 320.0: 0.0,
 321.0: 0.0,
 322.0: 0.0,
 323.0: 0.0,
 326.0: 0.0,
 327.0: 0.0,
 328.0: 0.0,
 329.0: 0.0,
 1001.0: 0.0,
 1002.0: 0.0,
 1003.0: 0.0,
 1004.0: 0.0,
 1005.0: 0.0,
 1006.0: 0.0,
 1007.0: 1.0,
 1008.0: 0.991869918699187,
 1009.0: 0.0,
 1010.0: 0.0,
 1011.0: 0.0,
 1012.0: 0.0,
 1013.0: 0.011111111111111112,
 1014.0: 0.0,
 1015.0: 1.0,
 1016.0: 1.0,
 1017.0: 1.0,
 1018.0: 0.0,
 1019.0: 1.0,
 1020.0: 0.0,
 1021.0: 0.0,
 1022.0: 0.9919354838709677,
 1023.0: 0.0,
 1024.0: 0.0,
 1025.0: 0.008064516129032258,
 1026.0: 0.0,
 1027.0: 0.0,
 1028.0: 0.0,
 1029.0: 0.008771929824561403,
 1030.0: 0.011494252873563218,
 1031.0: 0.0,
 1032.0: 0.0,
 1033.0: 0.0,
 1034.0: 1.0,
 1035.0: 1.0,
 1036.0: 0.012195121951219513,
 1037.0: 0.020202020202020204,
 1038.0: 0.010526315789473684,
 1039.0: 1.0,
 1040.0: 0.011627906976744186,
 1041.0: 0.0,
 1042.0: 0.0,
 1043.0: 0.0,
 1044.0: 0.010309278350515464,
 1045.0: 0.0,
 1046.0: 1.0,
 1047.0: 0.008547008547008548,
 1048.0: 0.0,
 1049.0: 1.0,
 1050.0: 0.0,
 1051.0: 0.0,
 1052.0: 1.0,
 1053.0: 1.0,
 1054.0: 0.9798657718120806,
 1055.0: 0.010526315789473684,
 1056.0: 0.0,
 1057.0: 0.0,
 1058.0: 0.0,
 1059.0: 0.022727272727272728,
 1076.0: 0.0,
 1081.0: 0.0,
 1082.0: 0.0,
 1083.0: 0.023529411764705882,
 1084.0: 0.0,
 1085.0: 0.0,
 1086.0: 0.0,
 1087.0: 0.0,
 1088.0: 0.0,
 1089.0: 0.0,
 1090.0: 0.0,
 1091.0: 0.0,
 1092.0: 0.0,
 1093.0: 0.021739130434782608,
 1094.0: 0.0,
 1095.0: 0.0,
 1096.0: 0.0,
 1097.0: 0.0,
 1098.0: 0.0,
 1099.0: 0.0,
 1100.0: 0.006535947712418301,
 1101.0: 0.0,
 1102.0: 0.0,
 1103.0: 0.0,
 1104.0: 0.0,
 1105.0: 0.02631578947368421,
 1106.0: 0.0,
 1107.0: 0.0,
 1108.0: 0.0,
 1109.0: 0.0,
 1110.0: 0.0,
 1111.0: 0.01,
 1112.0: 0.0,
 1113.0: 0.0,
 1157.0: 1.0,
 1161.0: 0.0,
 1164.0: 1.0,
 1166.0: 1.0,
 1168.0: 1.0,
 1169.0: 1.0,
 1170.0: 1.0,
 1171.0: 0.0,
 1172.0: 0.0,
 1173.0: 1.0,
 1174.0: 1.0,
 1175.0: 1.0,
 1176.0: 0.0,
 1177.0: 0.0,
 1179.0: 0.0,
 1180.0: 1.0,
 1181.0: 0.0,
 1182.0: 0.0,
 1183.0: 1.0,
 1184.0: 1.0,
 1185.0: 1.0,
 1186.0: 1.0,
 1187.0: 1.0,
 1188.0: 1.0,
 1189.0: 1.0,
 1190.0: 0.0,
 1191.0: 0.0,
 1192.0: 0.0,
 1193.0: 0.0,
 1194.0: 0.0,
 1195.0: 1.0,
 1196.0: 1.0,
 1197.0: 1.0,
 1198.0: 1.0,
 1199.0: 1.0,
 1200.0: 1.0,
 1201.0: 1.0,
 1202.0: 0.0,
 1203.0: 1.0,
 1204.0: 1.0,
 1205.0: 1.0,
 1206.0: 0.0,
 1207.0: 1.0,
 1208.0: 1.0,
 1209.0: 1.0,
 1210.0: 0.0,
 1211.0: 0.0,
 1212.0: 0.0,
 1213.0: 1.0,
 1214.0: 0.0,
 1215.0: 1.0,
 1216.0: 0.0,
 1217.0: 0.0,
 1218.0: 1.0,
 1219.0: 1.0,
 1220.0: 1.0,
 1221.0: 1.0,
 1226.0: 0.0,
 1227.0: 0.0,
 1228.0: 0.0,
 1229.0: 0.0,
 1230.0: 0.0,
 1232.0: 0.0,
 1234.0: 0.0,
 1235.0: 0.0,
 1236.0: 0.0,
 1237.0: 0.0,
 1238.0: 0.0,
 1239.0: 0.0,
 1240.0: 0.0,
 1241.0: 0.0,
 1242.0: 0.0,
 1243.0: 0.0,
 1244.0: 0.0,
 1245.0: 0.0,
 1246.0: 0.0,
 1247.0: 0.0,
 1248.0: 0.0,
 1249.0: 0.0,
 1250.0: 0.0,
 1251.0: 0.0,
 1252.0: 0.0,
 1253.0: 0.0,
 1258.0: 0.0,
 1259.0: 0.0,
 1260.0: 0.0,
 1263.0: 0.0,
 1264.0: 0.0,
 1265.0: 0.0,
 1266.0: 0.0,
 1267.0: 0.0,
 1268.0: 0.0,
 1269.0: 0.0,
 1270.0: 0.0,
 1271.0: 0.0,
 1272.0: 0.0,
 1273.0: 0.0,
 1274.0: 0.0,
 1275.0: 0.0,
 1276.0: 0.0,
 1277.0: 0.0,
 1278.0: 0.0,
 1279.0: 0.0,
 1281.0: 0.0,
 1284.0: 0.0,
 1286.0: 0.0,
 1288.0: 0.0,
 1290.0: 0.0,
 1291.0: 0.0}

In [211]:
oj_data_temp['PR']=oj_data_temp.apply(func=cal_pr_for_oj_data_temp, axis=1)

In [220]:
oj_data_temp.shape[0] - oj_data_temp.count()  # 每列缺失值的个数

sid                    0
sim_id                 0
uid                    0
sim_uid                0
similarity             0
similarityThreshold    0
CPMS                   0
CPMSPC                 0
CPTC                   0
ASSR                   0
DL                     0
PR                     0
PCR                    0
RRB                    0
LABEL                  0
dtype: int64

In [223]:
oj_data_temp.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,1.0,0.631714,163,1
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,1.0,0.631714,163,1
2,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,0.0,0.813397,188,0
3,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,1.0,0.703248,169,1
4,6915,6597,28,24,0.784314,0.92,0,3,1,0.888374,1,1.0,0.586463,128,1

In [225]:
oj_data_temp.shape

(22842, 15)

In [226]:
oj_data_temp.to_csv('D:/fgz/专利/OJFeatures.csv', index=False)