In [4]:
import pandas as pd
import numpy as np

In [2]:
oj_data = pd.read_csv("D:/fgz/专利/OJFeatures.csv", engine="python")

In [3]:
oj_data.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,1.0,0.631714,163,1
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,1.0,0.631714,163,1
2,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,0.0,0.813397,188,0
3,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,1.0,0.703248,169,1
4,6915,6597,28,24,0.784314,0.92,0,3,1,0.888374,1,1.0,0.586463,128,1

In [4]:
import MySQLdb

db=MySQLdb.connect(host='47.95.22.126',port=3306,user='root',passwd='dhuoj@124',db='gdoj',charset='utf8')
c=db.cursor()

In [5]:
# 构造一个专门从数据库当中查询数据的函数
def get_data(sql):
    c.execute(sql)
    rows_list = []
    for row in c.fetchall():
        rows_list.append(row)
    data = pd.DataFrame(data=rows_list)
    return data;

In [6]:
# 在上面的基础上，筛选出具有标签值的记录
data_label = get_data("""select s.id, sw.submited from solution s INNER JOIN 
similaritywarning sw on sw.submited>=0 and s.similarity>0 and s.id=sw.solutionId""")

data_label.columns=['sid', 'LABEL']

In [7]:
# 不抄袭的肯定比抄袭的要多很多，总记录数为3953条
print(data_label.shape)
print(len(data_label[data_label['LABEL']==1]))  # label=1代表抄袭
print(len(data_label[data_label['LABEL']==0]))  # label=0代表不抄袭
data_label.head()

(3953, 2)
1438
2515

    sid  LABEL
0  9065      0
1  9073      0
2  9135      0
3  9138      0
4  9138      0

In [8]:
def convert_df_to_dict(df):
    dict_temp={}
    for index, row in df.iterrows():
        dict_temp[row['sid']]=1
    return dict_temp

data_label_dict=convert_df_to_dict(data_label)

In [9]:
oj_data['LABEL']=0
oj_data.head()

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB,LABEL
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,1.0,0.631714,163,0
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,1.0,0.631714,163,0
2,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,0.0,0.813397,188,0
3,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,1.0,0.703248,169,0
4,6915,6597,28,24,0.784314,0.92,0,3,1,0.888374,1,1.0,0.586463,128,0

In [10]:
def change_label(row):
    if row['sid'] in data_label_dict:
        return data_label_dict[row['sid']]
    else:
        return 0
    
oj_data['LABEL']=oj_data.apply(func=change_label, axis=1)

In [11]:
oj_data['LABEL'].value_counts()

0    22609
1      233
Name: LABEL, dtype: int64

In [12]:
oj_data_0=oj_data[oj_data['LABEL']==0]

In [13]:
oj_data_0.shape

(22609, 15)

In [14]:
data_true=oj_data_0.sample(n=1000,random_state=123)
data_true.shape

(1000, 15)

In [15]:
data_true = pd.concat( [data_true, oj_data[oj_data['LABEL']==1]], axis=0 )
data_true.shape

(1233, 15)

In [17]:
# 查询用户排名数据
data_user_rank = get_data("""select userid, SUM(score) as allscore from solution where similarity>0 GROUP BY userid""")
data_user_rank.columns = ['uid', 'total_score']

In [18]:
data_user_rank.drop(['total_score'], axis=1, inplace=True)
data_user_rank['PR']=-1

In [21]:
def cal_pr_for_user(row):
    temp=data_true[data_true['uid']==row['uid']]
    total=len(temp)
    count=len(temp[temp['LABEL']==1])
    if total==0:
        return -1
    else:
        return count/total

def change_df_to_dict(df):
    dict_={}
    for index, row in df.iterrows():
        dict_[row['uid']]=row['PR']
    return dict_

def cal_pr_for_oj_data_temp(row):
    return dict_[row['uid']]

In [22]:
data_user_rank['PR']=data_user_rank.apply(func=cal_pr_for_user, axis=1)

In [24]:
data_user_rank[]

   uid   PR
0    1  0.0
1   17  0.0
2   18 -1.0
3   19 -1.0
4   20  0.0

In [ ]:
data_true['PR']=data_true.apply(func=cal_pr_for_oj_data_temp, axis=1)

In [26]:
columns = ['sid', 'sim_id', 'uid', 'sim_uid', 'similarity', 'similarityThreshold', 'CPMS']
data_true.drop(columns=columns, inplace=True ,axis=1) # "inplace=True" indicate that delete columns in-place
data_true.shape

(1233, 8)

In [27]:
data_true.head()

       CPMSPC  CPTC      ASSR  DL   PR       PCR  RRB  LABEL
3984        1     1  0.668179   1  1.0  0.674339    5      0
14772       2     1  0.786976   1  0.0  0.518766  290      0
9764        4     1  0.956426   1  1.0  0.767138  114      0
4167        3     1  0.834602   1  1.0  0.550882  122      0
9894        3     1  0.837607   1  1.0  0.655249   57      0