In [1]:
import numpy as np
import pandas as pd

In [3]:
# sid are unique
oj_data = pd.read_csv("D:/fgz/论文/OJFeatures.csv", sep=",", engine='python')
print(oj_data.shape)
oj_data.head()

(22842, 14)

,sid,sim_id,uid,sim_uid,similarity,similarityThreshold,CPMS,CPMSPC,CPTC,ASSR,DL,PR,PCR,RRB
0,5409,7322,43,190,0.640000,0.95,0,2,1,0.882609,1,NaN,0.631714,163
1,5549,5534,43,71,0.511628,0.85,0,2,1,0.627778,1,NaN,0.631714,163
2,5605,5345,31,53,0.857143,0.95,0,4,1,0.967105,1,NaN,0.565435,145
3,6134,4991,29,20,0.828571,0.90,0,4,1,0.775883,1,NaN,0.813397,188
4,6638,5825,50,72,0.752941,0.92,0,3,1,0.932974,1,NaN,0.703248,169

In [5]:
oj_data.shape[0] - oj_data.count()

sid                        0
sim_id                     0
uid                        0
sim_uid                    0
similarity                 0
similarityThreshold        0
CPMS                       0
CPMSPC                     0
CPTC                       0
ASSR                       0
DL                         0
PR                     22842
PCR                        0
RRB                        0
dtype: int64